@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root {
    --cl-backad:#f7f8fb;
    --cl-textad :#858796;
    --cl-green: #4eb92d;
    --cl-red: #ed1b36;
    --cl-orange: #f1975f;
    --cl-text: #686868;
    --cl-title: #1e1e1e;
    --white: #fff;

}

body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Roboto', 'sans-serif';
}

html {
    font-size: 62.5%;
    line-height: 1.6;
    
}

.wrapper {
    max-width: 1400px;
    margin: 0 auto;
}
a {
    color: #1e1e1e;
}

body, .main-menu > li > a , .ltext-102
{
    font-family: 'Roboto', sans-serif;
}

